In [14]:
import pandas as pd
import os

In [15]:
df_gender = pd.read_csv("data/reddit_comments_gender_female_processed_phrase_annotated.csv")
df_orientation = pd.read_csv("data/reddit_comments_orientation_lgbtq_processed_phrase_annotated.csv")
df_race = pd.read_csv("data/reddit_comments_race_black_processed_phrase_annotated.csv")
# df_religion1 = pd.read_csv("reddit_comments_religion1_jews_processed_phrase_annotated.csv")
df_religion1 = pd.read_csv(
    "data/reddit_comments_religion1_jews_processed_phrase_annotated.csv",
    encoding="latin1"
)
df_religion2 = pd.read_csv("data/reddit_comments_religion2_muslims_processed_phrase_annotated.csv")

In [16]:
df_gender["category"] = "gender_female"
df_race["category"] = "race_black"
df_religion1["category"] = "religion_jews"
df_religion2["category"] = "religion_muslim"
df_orientation["category"] = "orientation_lgbt"

In [17]:
combined_df = pd.concat(
    [df_gender, df_race, df_religion1, df_religion2, df_orientation],
    ignore_index=True
)

In [18]:
combined_df.head()

,attribute_in_window,comment,phrase,bias_sent,bias_phrase,Unnamed: 5,category,id
0,True,im sorry this is happening for you. at least y...,least you know whats happening now. narcissist...,0,0.0,NaN,gender_female,NaN
1,True,their mothers are in on the joke art project,their mothers are in on the joke art project,1,1.0,NaN,gender_female,NaN
2,True,i feel like this is some deep artistic dance t...,artistic dance thats trying to highlight how m...,0,0.0,NaN,gender_female,NaN
3,True,or biology. over protective and smothering mot...,or biology. over protective and smothering mot...,0,0.0,NaN,gender_female,NaN
4,True,writing poetry to a girl is the fastest way to...,writing poetry to a girl is the fastest way to...,0,0.0,NaN,gender_female,NaN

In [19]:
cleaned_df = combined_df[['category', 'comment', 'bias_sent']]
na_counts = cleaned_df.isna().sum()

In [20]:
os.makedirs("data", exist_ok=True)
cleaned_df.to_csv("data/cleaned_data.csv", index=False)